/*Global variables for palette*/
:root{
	--c1:#586f7c;
	--c2:#c8bfc7;
	--c3:#353535;
	--c4:#7ea8be;
	--c5:#f6fOed;
	--c6:#4CAF50;
}

body {
    margin: 0;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: var(--c3);
    position: fixed;
    height: 100%;
}

li a {
    display: block;
    text-align:left;
    color: var(--c2);
    padding: 10px 12px;
    text-decoration: none;
}

li a.active {
    background-color: var(--c6);
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
/***************************/

/*Nodes type*/
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root {
  pointer-events: none;
}
/***************************/

/*Global page font*/
html *{
	font-family: 'Open Sans';
}

path {
  stroke: #fff;
}

body{
	background-color: var(--c5) !important;
}

#div-title{
	height: 150px;
	margin-bottom: 10px;
	background-color: var(--c3)
}

#title{
    vertical-align: middle;
    line-height:35px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 40px;
    color: var(--c2);
    padding: 12px 10px;
}

h1{
	text-align: center;
}

#chart{
	margin-top: 10px;
}

#git-link{
	text-align: center;
	margin-top: 150px;
}

#info-chart {
    padding-top: 50px;
    margin: 20px 1px 1px 30px;
    height: 350px;
}

.container-fluid {
    padding: 0px !important;
}

#view-form{
	font-size: 15px;
}

.button#root-button {
    background-color: var(--c6); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.buttonRoot {
    opacity: 0.6;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.svg-container# {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#sections{
	margin-top: 50vh;
}

#i-marks {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
}

/* resize images */
#i-marks img {
    width: 100%;
    height: auto;
}

.settings .view{
	width: 180px;
}

#view-form{
	margin-left: 10px;
	margin-top: 15px;
}

.settings{
	display:flex;
	width: 350px;
	background-color: var(--c4);
	margin-top: 5px;
}

div h4{
	margin-left: 5px;
	margin-bottom: 0px;
	margin-top: 50px;
	font-size: 18px;
}

.node-information{
	padding: 0px;
	margin-top: 10vh;
	text-align: center;
	width: 280px;
	height: 280px;
	border-top: 1px solid var(--c3);
	border-radius: 100%;
	vertical-align: middle;
}

.node-information p{
	font-size: 12px;
	margin-bottom: 2px;
}

.node-information .result{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}

.node-information #size{
	margin-top: -23px;
	margin-bottom: 10px;
}
