/*Global variables for palette*/
:root{
	--c2:#c8bfc7;
	--c3:#353535;
	--c4:#7ea8be;
	--c5:#f2f2f2;
	--c6:#4CAF50;
}

/*Global page font*/
html *{
	font-family: 'Open Sans';
}

body {
    margin: 0;
    background-color: var(--c5) !important;
}

.container-fluid {
    padding: 0px !important;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: var(--c3);
    position: fixed;
    height: 100%;
}

li a {
    display: block;
    text-align:left;
    color: var(--c2);
    padding: 10px 12px;
    text-decoration: none;
}

li a.active {
    background-color: var(--c6);
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*Nodes type*/
.node {
  cursor: pointer;
}

/*
.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
*/

.node--leaf {
  fill: white;
}

.label {
  font: 18px "Open Sans", Helvetica, Arial, sans-serif !important;
  text-anchor: middle;
  text-shadow: 0 1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 -1px 0 black;
  fill: white;
  font-weight: bold !important;
}

.label,
.node--root {
  pointer-events: none;
}

path {
  stroke: #fff;
}

#title{
    vertical-align: middle;
    line-height:35px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 40px;
    color: var(--c2);
    padding: 12px 10px;
}

#git-link{
	text-align: center;
	margin-top: 16vw;
}

#chart{
	margin-top: 10px;
	margin-left: 20px;
}

.svg-container# {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
}

hr{
	border-top: 1px solid #d9d9d9;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

#info-chart {
    padding:10px;
    margin: 3vh 0px 0px 5vw;
    height: 580px;
    text-align: center;
    width: 285px;
}

#info-chart .dashboard-label{
	margin: 10px;
	text-align: left;
}

#info-chart p{
	font-size: 15px;
	margin-top: 10px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.settings{
	display:inline-block;
	text-align: left;
	float: left;
	width: 100%;
	height: 20%;
	margin-bottom: 6%;
	vertical-align: left;
	text-align: left;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.settings #view-form{
	font-size: 15px;
	margin-left: 7px;
}

.settings label{
	font-weight: bold;
}

.node-information{
	width: 100%;
	height: 70%;
	display: inline-block;
	border: 1px solid #d9d9d9;
	background-color: white;
	margin-bottom: 10%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.node-information #size{
	text-align: center;
	margin: 0px;
	margin-bottom: 15px;
	margin-top: 3px;
}

.node-information p{
	text-align: center;
	font-size: 12px;
	margin-bottom: 2px;
}

.node-information .result{
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
}

.node-information .level-divider{
	border-top: 1px solid #d9d9d9;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 1px !important;
	margin-bottom: 10px !important;
}

#info-chart .button#root-button {
    background-color: var(--c6); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
}

.buttonRoot {
    opacity: 0.6;
}

#info-chart #button{
	display: inline-block;
	margin-top: 5px;
}

#sections{
	margin-top: 5%;
}

#sections .content{
	width: 76vw;
	text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
}

#sections #example{
	width: 76vw;
	text-align: center;
	margin: 10px;
}
